name: hello-triggers
on:
  # Trigger on push events
  push:
    branches: 
      - main
      - develop
    # # paths:
    # #   - '**.js'
    # #   - '**.py'
    # paths-ignore:
    #   - '.github/**'
    #   - 'docs/**'
    # tags:
    #   - 'v*'
  
  
  # Trigger on workflow dispatch (manual trigger)
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'staging'
        type: choice
        options:
          - staging
          - production
      log_level:
        description: 'Log level'
        required: false
        default: 'info'
        type: choice
        options:
          - debug
          - info
          - warning
          - error
  
  # Trigger on schedule (cron)
  # schedule:
  #   - cron: '0 0 * * *'  # Daily at midnight
  #   - cron: '0 */6 * * *'  # Every 6 hours
  
  # Trigger when another workflow completes
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      token:
        required: true
env:
  configpath: ${{ inputs.config-path }}
jobs:
  dev:
    runs-on: ubuntu-latest
    steps: 
    - name: hi
      run: echo "hi"
    - name: set_variable
      id: set_variable
      run: echo "dev_var=I am Dev Var" >> $GITHUB_OUTPUT
    - name: print dev_var
      run: echo "Dev variable is ${{ steps.set_variable.outputs.dev_var }}"
  # test:
  #   runs-on: ubuntu-latest
  #   needs: 
  #   - dev
  #   environment: test
  #   # env:
  #   #   ENVIRONMENT: ${{ inputs.environment }}
  #   #   LOG_LEVEL: ${{ inputs.log_level }}

  #   steps:
  
  #   - name: Print Log Level On 
  #     run: |

  #       echo "${{ vars.repo_var }}"
  #       echo "${{ vars.test_var }}"
  #       echo "${{ secrets.test_secret }}"


