name: workflow_caller

on: 
    workflow_dispatch:

jobs:
    first:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4.2.2
            - name: use action
              uses: ./.github/actions/hello-action
              id: composite_action
              with:
                printWhat: "Hello from ${{ github.actor }}"
            - name: output from composite action
              run: echo "${{ steps.composite_action.outputs.someResponse }}"
    child_workflow: # This is a dedicated job
        needs: first
        uses: ./.github/workflows/hello-world.yml
        with: 
            config-path: "asd"
        secrets:
            token: "sd"
    next_stage:
        needs: child_workflow
        runs-on: ubuntu-latest
        steps:
            - name: print Output
              run: echo "${{ needs.child_workflow.outputs.devResponse }}"
