name: workflow_caller

on: 
    workflow_dispatch:

jobs:
    first:
        runs-on: ubuntu-latest
        steps:
            - name: e
              run: echo "hello"
    child_workflow:
        uses: ./.github/workflows/pipeline.yml
        with: 
            config-path: "asd"
        secrets:
            token: "sd"
