name: workflow_caller

on: 
    workflow_dispatch:

jobs:
    first:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4.2.2
            - name: use action
              uses: ./.github/actions/hello-action
              with:
                printWhat: "Hello from ${{ github.actor }}"
    child_workflow: # This is a dedicated job
        needs: first
        uses: ./.github/workflows/hello-world.yml
        with: 
            config-path: "asd"
        secrets:
            token: "sd"
